header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  

  /* src/components/header/Header.css */
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
